* {
	padding: 0px;
	margin: 0px;
	outline: none;
}

body {
	font-family: sans-serif;
	font-size: 20px;
	line-height: 25px;
	color: #00293c;
	width: 100%;
	background: #ffffff;
	position: relative;
	word-wrap: break-word;
	text-align: justify;
	-webkit-font-smoothing: antialiased!important;
	font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	font-smooth: always!important;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
}

.width {
	width: 1170px;
	margin: 0px auto;
	position: relative;
}

.monster-face,
.monster-body,
.monster-head {
	position: fixed
}

.monster-head {
	width: 450px;
	height: 450px;
	background: #21c600;
	text-align: center;
	left: 50%;
	bottom: 180px;
	margin: 0 0 0 -225px;
	border-radius: 50% 50% 0% 50%;
	transform: rotate(45deg);
	z-index: 9;
}

.monster-body {
	background: #ccc;
	width: 500px;
	height: 500px;
	border-radius: 250px 250px 0% 0%;
	left: 50%;
	margin-left: -250px;
	bottom: -240px;
}

.monster-face {
	z-index: 99;
	width: 450px;
	height: 550px;
	text-align: center;
	left: 50%;
	margin: 0 0 0 -225px;
	bottom: 80px;
}

.monster-mouth {
	background: url('../images/monster.png') center center no-repeat;
	width: 220px;
	height: 157px;
	left: 50%;
	margin-left: -115px;
	bottom: 125px;
	z-index: 9999;
	position: absolute;
}

.monster-eyes-container {
	background: #1dad00;
	width: 350px;
	height: 215px;
	position: relative;
	z-index: 9;
	top: 25px;
	left: 53px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
}

.monster-ear {
	background: #21c600;
	width: 170px;
	height: 30px;
	position: absolute;
}

.monster-ear:after,
.monster-ear:before {
	content: '';
	display: block;
	position: absolute;
}

.monster-ear:after {
	width: 40px;
	height: 40px;
	background: #21c600;
	border-radius: 25px 15px 25px 15px;
	top: -5px;
	transform: rotate(-45deg);
	left: -30px;
	box-shadow: inset 0 0 10px #199800;
}

.monster-ear:before {
	width: 19px;
	height: 30px;
	background: #000;
	border-radius: 50%;
	top: 0px;
	left: -22px;
	z-index: 9;
}

.right-ear {
	right: -85px;
	transform: rotate(155deg);
	top: 60px;
}

.left-ear {
	transform: rotate(25deg);
	left: -85px;
	top: 60px;
}

.monster-eye {
	position: absolute;
	background: #fff;
	width: 50px;
	height: 50px;
	top: 30px;
	left: 50px;
	border-radius: 50%;
	margin: -25px 0 0 -25px;
	overflow: hidden;
}

.monster-eye-main {
	width: 100px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -50px;
	z-index: 99;
}

.monster-pupil {
	width: 15px;
	height: 45px;
	position: relative;
	border-radius: 50%;
	background: #FFC107;
	top: 0px;
	border: 2px solid transparent;
	left: -3px;
}

.monster-eye-main .monster-pupil {
	height: 50px;
	width: 16px;
	left: 50%;
	top: 50%;
	margin: -27px 0 0 -10px;
	background: #FFC107;
}

.monster-eye .monster-pupil:after,
.monster-eye-main .monster-pupil:after {
	content: '';
	display: block;
	position: absolute;
	background: #000;
	width: 5px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
}

.monster-eye .monster-pupil:after {
	height: 18px;
	margin: -9px 0 0 -2.5px;
}

.monster-eye-main .monster-pupil:after {
	height: 40px;
	margin: -20px 0 0 -2.5px;
}

.monster-eyelid {
	background: #d87aff;
	height: 50%;
	width: 100%;
	z-index: 9;
	position: absolute;
}

.top-eyelid {
	top: -50%;
	border-bottom: 2px solid #ddd;
	animation: top-eyelid 10s cubic-bezier(.04, 1.21, .89, .92) 5s infinite normal backwards;
}

.bottom-eyelid {
	border-top: 2px solid #ddd;
	bottom: -50%;
	animation: bottom-eyelid 10s cubic-bezier(.04, 1.21, .89, .92) 5s infinite normal backwards;
}

@-webkit-keyframes top-eyelid {
	0% {
		top: -50%
	}
	90% {
		top: -50%
	}
	95% {
		top: 0
	}
	100% {
		top: -50%
	}
}

@keyframes top-eyelid {
	0% {
		top: -50%
	}
	90% {
		top: -50%
	}
	95% {
		top: 0
	}
	100% {
		top: -50%
	}
}

@-webkit-keyframes bottom-eyelid {
	0% {
		bottom: -50%
	}
	90% {
		bottom: -50%
	}
	95% {
		bottom: 0
	}
	100% {
		bottom: -50%
	}
}

@keyframes bottom-eyelid {
	0% {
		bottom: -50%
	}
	90% {
		bottom: -50%
	}
	95% {
		bottom: 0
	}
	100% {
		bottom: -50%
	}
}